---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: atp-elk
  labels:
    k8s-app: filebeat
data:
  filebeat.yml: |-
  
    filebeat.autodiscover:
      providers:
        - type: kubernetes
        templates:
          - condition:
              equals:
                kubernetes.namespace: prova
            config:
              - type: container
                paths:
                  - /var/log/containers/*-${data.kubernetes.container.id}.log
                exclude_lines: ["^\\s+[\\-`('.|_]"] #drop asciiart lines

    # filebeat.autodiscover:
    #   providers:
    #     - type: kubernetes
    #       node: ${NODE_NAME}
    #       hints.enabled: true
    #       hints.default_config:
    #         type: container
    #         paths:
    #           - /var/log/containers/*${data.kubernetes.container.id}.log

    processors:
      - add_cloud_metadata:
      - add_host_metadata:

    cloud.id: ${ELASTIC_CLOUD_ID}
    cloud.auth: ${ELASTIC_CLOUD_AUTH}

    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST:elasticsearch}:${ELASTICSEARCH_PORT:9200}']
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
      ssl.certificate_authorities: "/etc/certificates/ca.crt"
      # ssl.certificate: "/etc/pki/client/cert.pem"
      # ssl.key: "/etc/pki/client/cert.key"
---
